@import '../../styles/variables';
.notification {
  background-color: rgba(228, 228, 228, 0.938);
  border-radius: 10px;
  color: black;
  font-size: 1.3rem;
  left: 50%;
  margin-left: -40vw;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: $site-head-height--mobile;
  width: 80vw;
  z-index: 100000000000;
}
