.search-box {
  border: none;
  border-radius: 5px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  width: 80%;

  &__search-input {
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 100%;
    padding: 0.7rem;
    width: 100%;
  }

  // search-box__close-btn
  &__close-btn {
    font-size: 1.2rem;
    height: 30px;
    padding: 0.2rem;
    position: absolute;
    right: 3px;
  }
}
