@import "../../styles/variables";
.modal {
  color: orangered;
  font-size: 1.3rem;
  left: 50%;
  margin-left: -100px;
  position: fixed;
  text-align: center;
  top: $site-head-height--mobile;
  width: 200px;
}
