@import '../../styles/variables';
.sorting-selectbox {
  appearance: none;
  border-radius: 10px;
  border: 2px solid $sec-color;
  cursor: pointer;
  color: rgb(56, 56, 56);
  display: none;
  font-size: 1.1rem;
  padding: 0.3rem 0.7rem;
}

@media (min-width: 768px) {
  .sorting-selectbox {
    display: initial;
  }
}
