@import '../../styles/variables';
@import '../../styles/mixins';
.delete-person-dialog {
  @include CenteredAndFixedElement(306px, 118px);
  background: #424874;
  border-radius: 10px;
  padding: 0.5rem;
  z-index: 10000000;
  // delete-person-dialog__text
  &__text {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.delete-person-dialog-controls {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  // .delete-person-dialog-controls__btn
  &__btn {
    background: $third-color;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.3rem 0;
    text-align: center;
    transition: background 100ms ease;
    width: 60px;
  }
  &__btn:hover {
    background: lighten($third-color, 2%);
  }
  &__btn--no-margin {
    margin: 0;
  }
}
/* width 306px */

/* height 119px b-radius-20px */
