.sorting-input {
    appearance: none;
    bottom: 30px;
    position: fixed;
    width: 100vw;

    // sorting-input__option 
    &__option{
        appearance: none;
        background: chocolate;
    }
}