@import '../../styles/variables';
.person {
  align-items: center;
  background: $sec-color;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 86px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  transition: background 200ms ease;
}

.person:hover {
  background: $sec-color-hover;
}

.person--highlighted {
  z-index: 1000000;
}

.person-img-container {
  border-radius: 50%;
  height: $person-img-size;
  width: $person-img-size;
}

.person-img-container__img {
  border-radius: 50%;
  object-fit: cover;
  height: $person-img-size;
  width: $person-img-size;
}

.person-info {
  display: flex;
  flex-direction: column;
}

.person-info__name {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.person-info__birthday {
  color: #2e2e31; /* May be changed. */
  font-size: 1.6rem;
  text-align: center;
}

.person-controls__remove-btn {
  color: $ui-color, #424874;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 150ms ease;
}

.person-controls__remove-btn:hover {
  color: $ui-color-hover;
}

.person-controls__remove-btn:hover .person {
  background: $sec-color !important;
}