.person-options-container {
  background-color: #434975;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100000;

  // person-options-container__name
  &__name {
    padding: 0 2rem;
    padding-top: 0.7rem;
  }
}

.person-options-list {
  list-style: none;

  // person-options-list__btn
  &__btn {
    color: white;
    font-size: 20px;
    padding: 1rem 2rem;
  }

  // person-options-list__line {
  .person-options-list__line {
    border-bottom: 1px solid white;
  }
}
