@import '../../styles/variables';

.person-options-container {
  background-color: $options-ui-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100000;
  width: 100vw;

  // person-options-container__name
  &__name {
    padding: 0 2rem;
    padding-top: 0.7rem;
  }
}

.person-options-list {
  list-style: none;

  // person-options-list__item
  &__item {
    background: $options-ui-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    transition: background 200ms ease;
  }
  &__item:hover {
    background: lighten($options-ui-color, 5%);
  }

  // person-options-list__btn
  &__btn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
  }

  // person-options-list__item--edit-btn
  &__item--edit-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  // person-options-list__line {
  .person-options-list__line {
    border-bottom: 1px solid white;
  }
}

@media (min-width: 768px) {
  .person-options-container {
    top: 35px;
    border-radius: 20px;
    height: 40px;
    left: unset;
    position: absolute;
    right: 3px;
    width: max-content;
    // person-options-container__name
    &__name {
      display: none;
    }
  }

  .person-options-list {
    // .person-options-list__item--triangled
    &__item--triangled:hover::before {
      border-bottom: 10px solid lighten($options-ui-color, 5%);;
    }
    &__item--triangled::before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $options-ui-color;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 10px;
      top: -7px;
      width: 0;
    }
  }
}
