.person-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 3rem 0 6rem 0;
  width: 90%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .person-list {
    grid-template-columns: repeat(auto-fill, 330px);
  }
}

@media (min-width: 1024px) {
  .person-list {
    grid-template-columns: repeat(auto-fill, 300px);
    width: 100%;
  }
}